# Python & Environments
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Byte-code & caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Local databases & runtime logs
data/
/repository/
/datasets/
models/checkpoints/
*.db
*.sqlite3
reports/
*.log

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
